.form {
  max-width: 385px;
  width: 100%;
}

.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 0;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 20px;
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  width: 100%;
  margin: 0 0 12px;
  border-radius: 4px;
  padding: 12px 24px;
  border: none;
  background-color: #2f80ed;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.2s;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
