.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 80px 215px;
  color: #fff;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif", Times, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__videos-item {
  display: flex;
  flex-direction: column;
  max-width: 580px;
}

.recipes__video-captions {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}
